<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Deployment Tutorial 1</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/CSS.css">

        <script>
            resizeIt = function() {
                if($('original_text').rows) > 10) {
                    let str = $('original_text').value;
                    let cols = $('original_text').cols;
                    console.log(str);
                    console.log(cols);

                    let linecount = 0;
                    $A(str.split("\n")).each( function(l) {
                        linecount += Math.floor( (l.length) / cols ); // Take into account long lines
                        console.log(linecount)
                    })
                    $('original_text').rows = linecount;
                };
            }

            // You could attach to keyUp, etc. if keydown doesn't work
            Event.observe('original_text', 'load', resizeIt );
            Event.observe('summary', 'load', resizeIt );

            resizeIt(); //Initial on load
        </script>

    </head>

    <body>
        <center>

            <h1 class="heading">Text Summarizer</h1>

            <div class="login">
                <form action="{{ url_for('generate')}}" method="post">
                    <textarea name="input_text" id="input_text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="type here"></textarea>
                    <textarea name="original_text" id="original_text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{original_text}}</textarea>
                    <button class="btn" type="submit" onclick="generate(this)">Generate Summary</button>
                    <textarea name="summary" id="summary" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{summary}}</textarea>
                </form>
            </div>
        </center>
    </body>
</html>
